<h1>All Players</h1>


<%   players.forEach(p=>{ %>
    <h4>
        <a href="/players/<%=p.id%>"> 
            Player name:  <%=p.name %>  
        </a> 
    </h4>
    <p>
        Player wins:  <%=p.wins %> 
    </p>
    <p>
        Player losses:  <%=p.losses %> 
    </p>
    <p>
        Player pic:  <%=p.pic %> 
    </p>
    <p>
        Player bio:  <%=p.bio %> 
    </p>

<% }) %> 

<h1><a href="/new">Add player</a></h1>
