<h1>Player Detail</h1>
<p>
    <%=player.name %> 
</p>
<p> Wins: <%=player.wins  %> </p>
<p> Losses: <%=player.losses  %> </p>
<p> Bio: <%=player.bio  %> </p>

<h2>Player's Team</h2>
<p>
    Team: <%=player.team.name %>  

</p>
<p>
    Description: <%=player.team.description %> 
</p>



